.swup-transition-main {
    opacity: 1;
    transition: opacity .3s, transform .4s;
    transform: translate3d(0, 0, 0);
}

html.is-animating
    .swup-transition-main
        opacity 0
        transform translate3d(0, -60px, 0)

    &.is-leaving
        .swup-transition-main
            opacity 0
            transform translate3d(0, 60px, 0)

    &.swup-theme-reverse
        .swup-transition-main
            opacity 0
            transform translate3d(0, 60px, 0)

        &.is-leaving
            .swup-transition-main
                opacity 0
                transform translate3d(0, -60px, 0)

