html {
	--swup-slide-duration-fade: .3s;
	--swup-slide-duration-slide: .4s;
	--swup-slide-translate: 60px;
	--swup-slide-direction: 1;
	--swup-slide-translate-forward: calc(var(--swup-slide-direction) * var(--swup-slide-translate));
	--swup-slide-translate-backward: calc(-1 * var(--swup-slide-translate-forward));
}

html.swup-theme-reverse {
	--swup-slide-direction: -1;
}

html.is-changing .swup-transition-main {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity var(--swup-slide-duration-fade), transform var(--swup-slide-duration-slide);
}

html.is-animating .swup-transition-main {
	opacity: 0;
	transform: translate3d(0, var(--swup-slide-translate-backward), 0);
}

html.is-animating.is-leaving .swup-transition-main {
	transform: translate3d(0, var(--swup-slide-translate-forward), 0);
}
